
       <div class="footer-container">
            bcsbkjvbskk
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <ul>
                    <li>demo links</li>
                    <li>demo links</li>
                    <li>demo links</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
            <div></div>
        </div>       
    </body>
</html>